@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
* {
  font-family: 'Open Sans Condensed', sans-serif;
  color:#464646;
  transition: all 1.5s linear;
  overflow:hidden !important; box-sizing:border-box; }

.container {
  width:100%;
  height:100%;
  .bg-img {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
    opacity:0;
    filter: blur(5px);
    transform: scale(1.5);
    img {
      position: absolute; 
      top: 0; 
      left: 0; 
      right: 0; 
      bottom: 0; 
      margin: auto; 
      min-width: 50%;
      min-height: 50%;
    }
  }
}


.main {
  position:absolute;
  width:100%;
  height:100%;
  .login, {
    position:absolute;
    background:#fff;
    height:260px; 
    width:300px;
    bottom:-520px;
    left:50%;
    margin-left:-150px;
    box-shadow: 0 0 20px 2px #464646;
    z-index:2;
  }
}

.form-toggle {
  float:right;
  color:#00B3A0;
  font-size:14px;
  line-height:24px;
}
.form-toggle:hover {
  cursor:pointer;
}


.container.loaded {
  .loading {
    display:none;
  }
  .bg-img { 
    opacity:1;
    filter: blur(0);
    transform: scale(1); 
  }

  .main {
    .login {
      // Create an overlap on the footer
      bottom: -webkit-calc(25% - 50px); 
      bottom: calc(25% - 50px); 
    }
  }
}

form {
  padding:12px 24px 24px;
}



