body {

}

body:before {    
    content: "";
    position: absolute;
    z-index: -2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("images/white.jpg");
    background-size: cover;
    border-radius: 25px;

}

.dashboard {
    height: max-content;
    width: 70%;
    padding: 50px;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    transform: translate(-50%, -50%);
    color: #0b3649;


}


.dashboard .h1 {
    text-align: center;
}

.dashboard .h2 {
    text-align: center;
}

.dashboard:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #e0eef5;
    background-size: cover;
    border-radius: 25px;   
}

.leftDiv {
    height: 200px;
    width:50%;
    float:left;
}

.rightDiv {
    height: 200px;
    width:50%;
    float:right;
}

.rtableDiv {
    height: max-content;
    width:50%;
    float:right;
    height:500px;
}

.ltableDiv {
    height: max-content;
    width:50%;
    float:left;
    height:500px;
}

consultationTable {
    border-spacing: 20px;
    width:80%;
    height:80%;

}
table {
    margin: auto; /* or margin: 0 auto 0 auto */
    overflow-y:scroll;
    height:400px;
    display:inline-block;
    border:none;
}

th {
    background-color: #b8d8e6;
    color: black;
    padding: 10px;
}

td {
    background-color: #b8d8e6;
    color: black;
    padding: 10px;
}

.login {
    width: 30%;
}

input {
    padding: 10px;
}

select {
    text-align: center;
}
