<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletContextListener</servlet-name>
        <servlet-class>com.ServletContextListener</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasswordChanger</servlet-name>
        <servlet-class>com.PasswordChanger</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TableHandler</servlet-name>
        <url-pattern>/tableHandler.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasswordChanger</servlet-name>
        <url-pattern>/passwordChanger.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>20</session-timeout>
    </session-config>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletContextInitializer</servlet-name>
        <url-pattern>/ServletContextInitializer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletContextListener</servlet-name>
        <url-pattern>/servlet-context-listener</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>/login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeDashboard</servlet-name>
        <servlet-class>com.EmployeeDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletContextInitializer</servlet-name>
        <servlet-class>com.ServletContextInitializer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TableHandler</servlet-name>
        <servlet-class>com.TableHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeDashboard</servlet-name>
        <url-pattern>/employeeDashboard.do</url-pattern>
    </servlet-mapping>
    <listener>
        <listener-class>com.myServletContextListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.myServletAttributeListener</listener-class>
    </listener>
</web-app>
